.article {
  @media (max-width: 900px) {
    max-width: 30rem;
  }

  position: relative;
  margin: 6rem auto;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  max-width: 50rem;
  box-shadow: 0.5rem 0.5rem 2rem 0.5rem $color-primary-darker;
  border-radius: 10px;
  transition: transform 1s;
  transition-timing-function: ease-out;

  &__image__contaier {
    height: 75%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-container {
    padding: 0rem 2rem;
    align-self: center;
    justify-self: center;
  }

  &__header {
    @media (max-width: 900px) {
      font-size: 2rem;
    }

    font-size: 2.5rem;
    font-weight: 300;
  }

  &__text {
    @media (max-width: 900px) {
      font-size: 1.2rem;
    }

    font-family: 'Nunito';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1rem;
  }

  &__link {
    text-decoration: none;
    color: $color-tertiary;
    font-size: 1.5rem;
  }

  &__lowered {
    opacity: 100;
    transform: translateY(40rem);
  }
}

.articles__link:link,
.articles__link:visited {
  position: relative;

  font-family: 'Nunito';
  font-size: 2rem;
  font-weight: 500;
  color: $color-tertiary;
  text-decoration: none;
}
