:root {
  --color-primary: #f4fce5;
  --color-primary-darker: #575a52;

  --color-secondary: #fdfded;
  --color-secondary-darker: #141400;

  --color-tertiary: #ff4800;
  --color-tertiary-darker: #d83d00;
}

* {
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  line-height: 1.9;
}

@keyframes title-animation {
  from {
    transform: translateY(-5rem);
    opacity: 0%;
  }

  to {
    transform: translateY(32rem);
    opacity: 100%;
  }
}

@keyframes draw-line-animation {
  from {
    opacity: 100%;
    width: 1%;
  }

  to {
    width: 70rem;
    opacity: 100%;
  }
}

@keyframes arrow-animation {
  from {
    opacity: 50%;
    transform: translateY(0);
  }

  to {
  }

  100% {
    opacity: 100%;
    transform: translateY(20px);
  }
}

/* STICKY BACKGROUND */
.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -10;
  object-fit: cover;
  filter: brightness(70%) grayscale(30%);
}

/* GENERAL ELEMENTS */
.section {
  position: relative;
  background-color: var(--color-primary);

  /* spacing between sections */
  &__spacing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: auto;
    padding: 3rem 3rem;

    &__line {
      width: 100%;
      margin-left: 0;
    }

    &__text {
      display: grid;
      position: absolute;

      padding-inline: 5rem;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      line-height: 1.2;
      font-weight: 300;
      background-color: var(--color-primary);
    }
  }
}

.lazy-img {
  filter: blur(10px);
}

/* NAVIGATION */
.nav {
  @media (max-width: 900px) {
    padding: 0 0;

    ul {
      display: none;
      position: absolute;
      top: 8rem;
      left: 0;
      width: 100%;
      padding: 0 0;
      background-color: var(--color-secondary-darker);
      font-size: 2.7rem;
    }

    &__link {
      border-bottom: 1px solid rgba(255, 255, 255, 0.308);
    }

    .nav__icon {
      display: block; /* show the icon */
    }
  }

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  background-color: var(--color-secondary-darker);

  &__logo {
    height: 8rem;
    transition: all 0.3s;
  }

  &__links {
    display: flex;
    font-size: 2.5rem;
    list-style: none;
  }

  &__item {
    margin-left: 4rem;
  }

  &__link:link,
  &__link:visited {
    font-weight: 400;
    color: var(--color-primary);
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }

  /* MOBILE SCREEN MENU ICON */
  &__icon,
  &__close-icon {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary);
    display: none;
  }

  ul.show-menu {
    display: block;
  }
}

/* HOME */
.home {
  position: relative;
  top: 0px;
  width: 100%;
  height: 85rem;

  display: flex;
  justify-content: center;
  overflow: hidden;

  color: var(--color-primary);

  &__title-container {
    position: absolute;

    display: flex;
  }

  &__title {
    @media (max-width: 900px) {
      font-size: 3.3rem;
    }

    font-size: 6rem;
    font-weight: 100;

    opacity: 0%;
  }

  &__line-container {
    @media (max-width: 900px) {
      width: 36rem;
      top: 38rem;
    }

    width: 66rem;
    position: absolute;
    top: 41rem;
    overflow: hidden;
  }

  &__line {
    height: 2px;
    background-color: var(--color-tertiary);
    opacity: 0%;
    border: none;
  }

  &__description {
    @media (max-width: 900px) {
      top: 39rem;
      width: 37rem;
      font-size: 1.7rem;
    }

    position: absolute;
    top: 42rem;
    width: 65rem;

    max-height: 20rem;

    font-family: 'Nunito';
    font-weight: 100;
    font-size: 2rem;

    overflow: hidden;
  }

  &__arrow {
    position: absolute;
    top: 55rem;
    left: 50%;

    font-size: 6rem;
    opacity: 0%;
    color: var(--color-tertiary);
  }
}

/* ARTICLES */
.article {
  @media (max-width: 900px) {
    max-width: 30rem;
  }

  position: relative;
  margin: 6rem auto;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  max-width: 50rem;
  box-shadow: 0.5rem 0.5rem 2rem 0.5rem var(--color-primary-darker);
  border-radius: 10px;
  transition: transform 1s;
  transition-timing-function: ease-out;

  &__image__contaier {
    height: 75%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-container {
    padding: 0rem 2rem;
    align-self: center;
    justify-self: center;
  }

  &__header {
    @media (max-width: 900px) {
      font-size: 2rem;
    }

    font-size: 2.5rem;
    font-weight: 300;
  }

  &__text {
    @media (max-width: 900px) {
      font-size: 1.2rem;
    }

    font-family: 'Nunito';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1rem;
  }

  &__link {
    text-decoration: none;
    color: var(--color-tertiary);
    font-size: 1.5rem;
  }

  &__lowered {
    opacity: 100;
    transform: translateY(40rem);
  }
}

.articles__link:link,
.articles__link:visited {
  position: relative;

  font-family: 'Nunito';
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-tertiary);
  text-decoration: none;
}

/* SECTION FAVOURITES */
/* Slider */
.slider {
  height: 80vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  &__slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 1s;
  }

  &__header {
    @media (max-width: 900px) {
      font-size: 2rem;
    }

    position: absolute;
    bottom: 15%;
    left: 15%;
    font-size: 4rem;
    font-weight: 300;
    z-index: 10;
    color: var(--color-secondary);
  }

  &__image-container {
    width: 100%;
  }

  &__img {
    @media (max-width: 900px) {
      height: 80vh;
      width: auto;
      object-fit: cover;
      filter: brightness(70%);
    }
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
  }

  &__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    background: rgba(255, 255, 255, 0);
    font-family: inherit;
    font-weight: 100;
    color: var(--color-secondary);
    opacity: 50%;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 5rem;
    cursor: pointer;
  }
  &__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
  }
  &__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
  }

  &__dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  &__dots__dot {
    background-color: var(--color-secondary);
    opacity: 0.5;
    height: 1rem;
    width: 1rem;
    border: none;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
  }

  &__dots__dot:last-child {
    margin: 0;
  }

  &__dots__dot--active {
    background-color: var(--color-secondary);
    opacity: 1;
  }
}

/* ABOUT US */
.counters {
  padding: 3rem 0rem;

  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;

  &__container {
    position: relative;

    width: 20rem;
    height: 20rem;
    display: grid;
    justify-items: center;
    align-content: center;

    font-size: 2rem;
    font-weight: 200;
    color: var(--color-primary);
    border-radius: 10px;
    background-color: var(--color-secondary-darker);
  }

  &__icon {
    position: relative;
    top: 30%;
  }

  &__counter {
    height: 9rem;
    font-size: 6rem;
    font-weight: 300;
    color: var(--color-tertiary);
  }

  &__text {
    font-size: 2.5rem;
    color: var(--color-primary);
  }
}

// FOOTER
.footer {
  background-color: var(--color-secondary-darker);
  color: var(--color-primary-darker);
  font-size: 2rem;
  padding: 2rem;
  text-align: center;

  &__social-media {
    margin-bottom: 20px;
  }

  &__social-media-header {
    margin-bottom: 10px;
    text-decoration: underline;
  }

  &__social-media-icons {
    display: flex;
    justify-content: center;

    a {
      color: var(--color-primary-darker);
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__disclaimer {
    margin: 0;
    font-size: 1.5rem;
  }
}

/* MODAL */
.modal {
  @media (max-width: 900px) {
    width: 100%;
    height: 100%;
    padding: 10rem 2rem;
  }

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: var(--color-primary-darker);
  color: var(--color-primary);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 7);
  z-index: 1000;
  transition: all 0.5s;

  &__header {
    @media (max-width: 900px) {
      font-size: 2.5rem;
      margin-bottom: 6rem;
    }
    margin-bottom: 4.5rem;
    font-size: 3.25rem;
    font-weight: 300;
    line-height: 1.5;
  }

  &__form {
    @media (max-width: 900px) {
      margin: 0 0;
      gap: 3rem;
    }
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;

    label {
      @media (max-width: 900px) {
        font-size: 1.6rem;
      }
      font-size: 2rem;
      font-weight: 300;
    }

    input {
      @media (max-width: 900px) {
        font-size: 1.5rem;
        padding: 1rem 2rem;
      }
      font-size: 1.7rem;
      padding: 1rem 1.5rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
    }

    button {
      grid-column: 1 / span 2;
      justify-self: center;
      margin-top: 1rem;
    }
  }

  &__btn--close {
    font-family: inherit;
    color: var(--color-secondary-darker);
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
  }

  &__btn--next {
    @media (max-width: 900px) {
      position: relative;
    }

    display: inline-block;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

  &__btn--next:hover {
    background-color: var(--color-tertiary-darker);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
